<div class="container">
 <% Menuitem.all.each do |menuitem| %>
   <div class="fmenu">
      <div class="fItem">
          <%= image_tag("coffee.jpg", width: '100px')  %>
        <div class="Item-Text">
          Item name: <%= menuitem.name %><br>
          description: <%= menuitem.description %><br>
          Price: $<%= menuitem.price %>
        </div>
         <%= form_with(url: "/menuitems/cart", method: "post") do %>
             <%= button_tag("Add_TO_CART",type: "submit",class: "AddCart-button")%>
         <% end %>
      </div>
    </div>
    <% end %>
</div>
