<div class="container">
 <% Menuitem.all.each do |menuitem| %>
   <div class="fmenu">
      <div class="fItem">
          <%= image_tag("coffee.jpg", width: '100px')  %>
        <div class="Item-Text">
          Item name: <%= menuitem.name %><br>
          description: <%= menuitem.description %><br>
          Price: $<%= menuitem.price %>
          </div class="Item-things">
            <% if @current_user.role == "customer" %>
              <%= form_with(url: "/menuitems/cart", method: "post") do %>
                  <%= button_tag("Add_TO_CART",type: "submit",class: "AddCart-button")%>
              <% end %>
            <% end %>
            <% if @current_user.role == "" %>
              <%= form_with(url: "/menuitems/#{menuitem.id}", method: "delete") do %>
                  <%= image_submit_tag("trash.svg",class: "MenuItem-delete")%>
              <% end %>
            <% end %>
         </div>
    </div>
    <% end %>
</div>
