<p class = "pendingorders-title"><% if @current_user.role == "customer" %> LIST OF PREVIOUS ORDERS <% end %>
<% if @current_user.role == "owner" || @current_user.role == "clerk"%>LIST OF COMPLETED ORDERS <% end %>
<div style="padding-left: 800px" class="pendingorders">
  <% orders.deliveredOrders.each do |order|%>
    <ul class = "pendingorders-details">
      <li>OrderID: <%= order.id%></li>
      <li>OrderDetails:<% total_price = 0 %></li>
      <% order.order_items.all.each do |order_item|%>
        <ul>
          <li><%= order_item.menuitem_name%>  </li>
          <li><%= order_item.menuitem_price%></li>
          <li>x<%= order_item.menu_item_quantity%>
            = <%= order_item.menu_item_quantity*order_item.menuitem_price%>
            <% total_price = total_price + order_item.menuitem_price*order_item.menu_item_quantity%>
          </li>
        </ul>
      <% end %>
      <ul class = "pendingorders-datetime">
        <li>Ordered Date: <%=order.date.strftime("%d/%m/%Y")%></li>
        <li>Delivered Date: <%= order.delivered_at.strftime("%d/%m/%Y at %I:%M %p")%></li>
      </ul>
      <li style="font-size: 40px">Total Price = <%= total_price%> </li>
    </ul>
  <% end %>
</p>
