<p class = "pendingorders-title"><% if @current_user.role == "customer" %> LIST OF ORDERS <% end %>
<% if @current_user.role == "owner" || @current_user.role == "clerk"%>LIST OF PENDING ORDERS <% end %>
<div style="padding-left: 800px" class="pendingorders">
  <% orders.pendingOrders.each do |order|%>
    <ul class = "pendingorders-details">
       <li>OrderID: <%= order.id%></li>
       <li>OrderDetails:<% total_price = 0 %></li>
         <% order.order_items.all.each do |order_item|%>
          <ul>
            <li><%= order_item.menuitem_name%>  </li>
            <li><%= order_item.menuitem_price%></li>
            <li>x<%= order_item.menu_item_quantity%>
              = <%= order_item.menu_item_quantity*order_item.menuitem_price%>
              <% total_price = total_price + order_item.menuitem_price*order_item.menu_item_quantity%>
            </li>
          </ul>
        <% end %>
       <div class = "pendingorders-datetime">
        Ordered Date: <%=order.date.strftime("%d/%m/%Y")%><br>
        Order status : <%= order.status%>
       </div>
       <li style="font-size: 40px">Total Price = <%= total_price%> </li>
       <div class = "pendingorders-form" >
        <% if User.find(session[:current_user_id]).role != "customer"%>
          <%= form_with(url: "/deliverorder/#{order.id}", method: "POST") do %>
            <%= submit_tag("Deliver", class: "pendingorders-form")%>
          <% end %>
        <% end %>
       </div>
       <hr>
    </ul>

  <% end %>
</div>
</p>
<%= render partial: "delivered_orders", locals: {orders: orders}%>
