<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if @current_user %>
    <p class="UserHeader" >Welcome <%= @current_user.role %>-<%= @current_user.name %>!
    <%= link_to "Sign Out", destroy_session_path, method: "delete" %>
    </p>

      <div class="MenusHeader">
              <a ><%= link_to "Menus", menus_path, method: "get" %></a>
               <a style="float:right"><%= link_to "Cart", cartitems_path, method: "post" %></a>
              <a>Link</a>
      </div>

  <% end %>

    <% if flash[:error] %>
      <p class="flash-msg"> <%= flash[:error] %> </p>
    <% end %>

    <% if flash[:notice] %>
      <p class="flash-notice"> <%= flash[:notice] %> </p>
    <% end %>





    <%= yield %>
  </body>
</html>
